@page
@model WebApp.Pages.HistoryModel
@{
}
<script src="~/js/pages/History.js"></script>
<div class="bs-docs-section">
    <br />

    <div class="row">
        <legend>History List</legend>
        <div class="col-lg-12">

            <table id="tblListHistory" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Max Temperature</th>
                        <th>Min Temperature</th>
                        <th>Condition</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form>
                    <fieldset>
                        <legend>History registration form</legend>

                        <div class="form-group">
                            <label for="txtIdHis" class="form-label mt-4">History ID</label>
                            <input id="txtId" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">


                            <label for="txtDateHis" class="form-label mt-4">Date</label>
                            <input type="date" class="form-control" id="txtDateHis" aria-describedby="emailHelp" placeholder="Enter Date">
                            <small id="emailHelp" class="form-text text-muted">Date.</small>
                        </div>
                        <div class="form-group">
                            <label for="numMaxTemperatureHis" class="form-label mt-4">Max Temperature</label>
                            <input type="number" class="form-control" id="numMaxTemperatureHis" aria-describedby="emailHelp" placeholder="Enter max temperature">
                            <small id="emailHelp" class="form-text text-muted">Max Temperature</small>
                        </div>
                        <div class="form-group">
                            <label for="numMinTemperatureHis" class="form-label mt-4">Min Temperature</label>
                            <input type="number" class="form-control" id="numMinTemperatureHis" aria-describedby="emailHelp" placeholder="Enter Min Temperature">
                            <small id="emailHelp" class="form-text text-muted">Min Temperature.</small>
                        </div>
                        <div class="form-group">
                            <label for="txtConditionHis" class="form-label mt-4">Condition</label>
                            <input type="text" class="form-control" id="txtConditionHis" aria-describedby="emailHelp" placeholder="Enter Condition">
                            <small id="emailHelp" class="form-text text-muted">Soleado, Nublado, Lluvioso.</small>
                        </div>

                </form>
                <br />
                <button id="btnCreateHistory" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Save</i></button>

                <button id="btnUpdateHistory" class="source-button btn btn-warning btn-xs" type="button" tabindex="0"><i class="bi bi-code">Update</i></button>

                <button id="btnDeleteHistory" class="source-button btn btn-danger btn-xs" type="button" tabindex="0"><i class="bi bi-code">Delete</i></button>
            </div>
        </div>
    </div>
</div>